<h1>タスク新規作成</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form action="/users/1/tasks" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="F8V1kj6lP7YZ1UcthaWN5NioMYu5bJ/MOUSaDMS8fGz3JzUhCztCYKkotSBcPCSocjS/I18i0BssVDS/q30OZQ==">
      
      
      <label class="label-form" for="task_name">名称</label>
      <input class="form-control" type="text" name="task[name]">

      <label class="label-form" for="task_description">詳細</label>
      <textarea rows="5" class="form-control" name="task[description]"></textarea>

      <input type="submit" name="commit" value="新規登録" class="btn btn-lg btn-primary btn-form" data-disable-with="新規登録">
</form>  </div>
</div>

